.neonCredits {
    top: 10.5%;
    width: calc(100% - 62px);
    height: calc(90% - 31px);
    left: 1%;
    font-family: "neontubes";
    text-align: center;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.neonCredits span {
    display: block;
    position: relative;
    -webkit-transform: translateZ(0) translate3D(0, 0, 0);
    transform: translateZ(0) translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity;
}

.scroll-up {
    overflow: hidden;
}

/** https://www.html.am/html-codes/marquees/css-scrolling-text.cfm **/
.scroll-up p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

/* Move it (define credits the animation) */
.scroll-credits-up p {
    /* Starting/Ending position */
    -moz-transform: translateY(-410%);
    -webkit-transform: translateY(-410%);
    transform: translateY(-410%);

    /* Apply animation to this element */
    -moz-animation: scroll-credits-up 40s linear;
    -webkit-animation: scroll-credits-up 40s linear;
    animation: scroll-credits-up 40s linear;
}

@-moz-keyframes scroll-credits-up {
    0% {
        -moz-transform: translateY(100%);
    }

    100% {
        -moz-transform: translateY(-410%);
    }
}

@-webkit-keyframes scroll-credits-up {
    0% {
        -webkit-transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-410%);
    }
}

@keyframes scroll-credits-up {
    0% {
        -moz-transform: translateY(100%); /* Browser bug fix */
        -webkit-transform: translateY(100%); /* Browser bug fix */
        transform: translateY(100%);
    }

    100% {
        -moz-transform: translateY(-410%); /* Browser bug fix */
        -webkit-transform: translateY(-410%); /* Browser bug fix */
        transform: translateY(-410%);
    }
}

