
.neonCredits {
    top: 10%;
    width: 98%;
    height: auto;
    left: 1%;
    font-family: "neontubes";
    text-align: center;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .neonCredits span {
        display: block;
        position: relative;
        -webkit-transform: translateZ(0) translate3D(0, 0, 0);
        transform: translateZ(0) translate3D(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: opacity;
    }

.neonCreditName {
    width: 100%;
    color: #ffd9e2;
    font-size: 2vw;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.neonCreditValue {
    width: 100%;
    color: #d4eaff;
    font-size: 2vw;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
    animation: buzz 0.01s infinite alternate;
}

.scroll-up {
    height: 100%;
    overflow: hidden;
}

/** https://www.html.am/html-codes/marquees/css-scrolling-text.cfm **/
.scroll-up p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    /* Starting position */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-up 15s linear;
    -webkit-animation: scroll-up 15s linear;
    animation: scroll-up 15s linear;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-up {
    0% {
        -moz-transform: translateY(100%);
    }

    100% {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes scroll-up {
    0% {
        -webkit-transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes scroll-up {
    0% {
        -moz-transform: translateY(100%); /* Browser bug fix */
        -webkit-transform: translateY(100%); /* Browser bug fix */
        transform: translateY(100%);
    }

    100% {
        -moz-transform: translateY(-100%); /* Browser bug fix */
        -webkit-transform: translateY(-100%); /* Browser bug fix */
        transform: translateY(-100%);
    }
}
