svg {
    width: 560px;
    position: relative;
    height: 380px;
    margin: 0 auto;
    display: block;
}

    svg line {
        stroke-width: 2px;
        stroke: rgba(2,162,239,1);
    }

    svg #svg_2 {
        stroke-dasharray: 1680;
        stroke-dashoffset: 1680;
    }

    svg #svg_4 {
        stroke-dasharray: 1680;
        stroke-dashoffset: -380;
    }

    svg #svg_3 {
        stroke-dasharray: 1680;
        stroke-dashoffset: -580;
    }

    svg #svg_5 {
        stroke-dasharray: 1680;
        stroke-dashoffset: -380;
    }

@keyframes anim-dash {
    90% {
        stroke: rgba(2,162,239,1);
    }

    100% {
        stroke: #ffffff;
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

.overlay {
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -999;
}

.modal {
    position: absolute;
    width: 560px;
    height: 380px;
    top: 50%;
    left: 70%;
    transform: translate(-100%,-40%);
}

.modal-inner {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 542px;
    height: 365px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.4);
    opacity: 0;
    margin: 5px;
}

.modal-button {
    float: right;
    z-index: +2;
    color: #424242;
    margin: 5px 5px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
}

.modal-inner h3 {
    text-align: center;
    font-size: 22px;
    position: relative;
    top: -15px
}

.modal-blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.showGameMenu .modal, .showGameMenu {
    animation: display .6s forwards;
    z-index: auto;
}

    .showGameMenu .modal svg line {
        animation: anim-dash .6s forwards;
        animation-delay: .6s;
    }

    .showGameMenu .modal .modal-inner {
        animation: display .6s forwards;
        animation-delay: 1s;
    }

@keyframes display {
    to {
        opacity: 1;
    }
}

.menuwrapper {
    display: grid;
    border: 1px solid #000000;
    grid-gap: 5px;
    grid-template-columns: 271px 271px;
}

.menuheader {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 90%;
    height: 30px;
    border: 1px solid #000;
}

.menuwide {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 90%;
    border: 1px solid #000;
}

.menucolumn1 {
    grid-column: 1;
    grid-row: 2;
    font-size: 90%;
    border: 1px solid #000;
}

.menucolumn2 {
    grid-column: 2;
    grid-row: 2;
    font-size: 90%;
    border: 1px solid #000;
}

.menucolumn3 {
    grid-column: 1;
    grid-row: 3;
    font-size: 90%;
    border: 1px solid #000;
}

.menucolumn4 {
    grid-column: 2;
    grid-row: 3;
    font-size: 90%;
    border: 1px solid #000;
}

.menufooter {
    grid-column: 1 / span 2;
    grid-row: 4;
    font-size: 90%;
    border: 1px solid #000;
}

.spanCheckPrevious {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.divStatusBar {
    background: coral;
    opacity: .5;
    text-align: center;
    width: 542px;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 10;
    }
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

    .marquee span {
        display: inline-block;
        padding-left: 100%;
        /* show the marquee just outside the paragraph */
        animation: marquee 35s linear infinite;
    }

        .marquee span:hover {
            animation-play-state: paused
        }

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

div.controllerSettings {
    margin-left: 10px;
    display: grid;
    grid-template-columns: max-content 81px;
    grid-gap: 5px;
}

    div.controllerSettings label {
        text-align: right;
    }

        div.controllerSettings label:after {
            content: ":";
        }