html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;
    background-color: #000;
    cursor: crosshair;
}

.wrapper {
    display: grid;
    border: 1px solid #000;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.box {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 150%
}

.blink_me {
    animation: blinker 1s linear infinite;
}

.dead {
    color: dimgray;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 22px;
    height: 22px;
}

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border: none;
    }
